x-env-postgres: &env-postgres
  POSTGRES_NAME: ${POSTGRES_NAME}
  POSTGRES_USER: ${POSTGRES_USER}
  POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

x-env-django: &env-django
  SECRET_KEY: ${SECRET_KEY}
  DEBUG: ${DEBUG}
  ALLOWED_HOSTS: ${ALLOWED_HOSTS}

x-env-node: &env-node
  VITE_NODE_ENV: ${VITE_NODE_ENV}
  VITE_FQDN_FRONTEND: ${VITE_FQDN_FRONTEND}
  VITE_FQDN_API: ${VITE_FQDN_API}

x-env-global: &env-global
  JWT_HEADER_PREFIX: ${JWT_HEADER_PREFIX}

services:
  db:
    image: postgres
    container_name: hr-postgres
    expose: 
      - 5432
    restart: unless-stopped
    environment:
      <<: *env-postgres
  django:
    build: ./bin/django/
    container_name: hr-django
    volumes:
      - ./backend:/opt/app/
    expose:
      - ${DJANGO_PORT}
    environment:
      <<: *env-postgres
      <<: *env-django
      <<: *env-global
    depends_on:
      - db
  node:
    build: ./bin/node
    container_name: hr-node
    volumes:
      - ./frontend:/opt/app
      - ./frontend/node_modules/:/opt/app/node_modules
    command: yarn start --host
    expose:
      - ${NODE_PORT}
    environment:
      <<: *env-node
      <<: *env-global

volumes:
  db:
  django:
  frontend:
